[submodule "deps/benchkit"]
	path = deps/benchkit
	url = https://github.com/open-s4c/benchkit.git
[submodule "deps/FlameGraph"]
	path = deps/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "deps/inferno"]
	path = deps/inferno
	url = https://github.com/open-s4c/inferno
[submodule "deps/syzkaller"]
	path = deps/syzkaller
	url = https://github.com/open-s4c/syzkaller.git
[submodule "deps/intel-performance-skills"]
	path = deps/intel-performance-skills
	url = https://github.com/intel/intel-performance-skills
