name: CSB actions
on: [push, pull_request]

jobs:
  # Runs builtin benchmarks with ctest
  Run-Tests:
    # TODO: switch to ubuntu-latest-arm later
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [-DCSB_ADDRESS_SANITIZER=ON, -DCSB_THREAD_SANITIZER=ON, ""]
    steps:
      - name: install pre-requisites
        run: sudo apt-get install -y libhiredis-dev
      - name: Test Builtin Benchmarks
        uses: actions/checkout@v4
      - name: Configure Testing
        run: cmake -Sbench -Bbuild ${{ matrix.config }}
      - name: Build Tests
        run: cmake --build build -j
      - name: Run Tests
        run: ctest --test-dir build --output-on-failure

  Run-bm-generator:
    runs-on: ubuntu-latest
    steps:
      - name: install pre-requisites
        run: sudo apt-get install -y libhiredis-dev
      - name: Test Builtin Benchmarks
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Install tmplr
        run: cd bm-generator/templates/ && ./tmplr.sh
      - name: Test bm-generator
        run: |
          go env -w GOBIN=$HOME/.local/bin
          cd bm-generator/ && ./test.sh
      - name: Build what bm-generator generated
        run: |
          cmake -Sbench -Bbuild
          cmake --build build -j
          ctest --test-dir build --output-on-failure -R min_ls_*

  # Checks if cmake and C files are properly formatted
  Check-Format:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        target: [clang-format-apply, cmake-format-apply]
    steps:
      - name: Install cmake-format for cmake-format-check
        if: matrix.target == 'cmake-format-apply'
        run: pip install cmakelang
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure
        run: cmake -Sbench -Bbuild
      - name: Run ${{ matrix.target }}
        run: cmake --build build --target ${{ matrix.target }}
      - name: Check things match expectation
        run: cmake --build build --target git-diff-check ||
            (echo "Run 'make ${{ matrix.target }}' and commit" && false)

  # Checks python files with ruff linter
  Check-ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Test Builtin Benchmarks
        uses: actions/checkout@v4
      - name: Use ruff
        uses: astral-sh/ruff-action@v3
      - name: Run ruff
        run: ruff check bm-runner

  # Checks python files' format with black
  Check-Black:
    runs-on: ubuntu-latest
    steps:
      - name: Test Builtin Benchmarks
        uses: actions/checkout@v4
      - name: Run Black
        uses: psf/black@stable
        with:
          options: "-l 100 --check --verbose"
          src: "./bm-runner"
          version: "~= 25.12"

  # Checks python files with Ty type checker
  Check-ty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Ty
        run: pip install ty
      - name: Run Ty
        run: ./scripts/configure.sh && ty check --venv ./venv ./bm-runner

  # Checks if the config documentation is up to date
  Check-Documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Run documentation script
        run: ./scripts/configure.sh && ./helpers/update-doc.sh && git --no-pager diff --exit-code

  # Checks if copyright/license is up-to-date
  Check-License:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run license script
        run: helpers/license-check.sh . && git --no-pager diff --exit-code

  # Run a dummy benchmark to ensure bm-runner works
  Run-Benchmark:
    runs-on: ubuntu-latest
    env:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
    strategy:
      matrix:
        benchmark: [bm_empty, bm_server_redis, min_mysql_close_dup_0_0]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install pre-requisites
        run: |
          sudo apt update
          sudo apt-get install -y build-essential cmake libhiredis-dev
          echo "CSB_ADAPTERS=$GITHUB_WORKSPACE/scripts/adapters" >> $GITHUB_ENV
          echo "CSB_PLUGINS=$GITHUB_WORKSPACE/scripts/plugins" >> $GITHUB_ENV
          echo "FLAMEGRAPH=$GITHUB_WORKSPACE/deps/FlameGraph" >> $GITHUB_ENV
      - name: Run Benchmark ${{ matrix.benchmark }}
        run: ./scripts/configure.sh && . ./venv/bin/activate && cd bm-runner && python3 main.py --title "dummy benchmark" --config ../config/${{ matrix.benchmark }}.json
      - name: Fix artifact permissions
        if: always()
        run: sudo chmod -R a+r results/
      - name: Upload results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: results-${{ matrix.benchmark }}
          path: results/
