# SPDX-License-Identifier: MIT
name: openEuler container to test CSB
on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '0 0 * * 0'   # Every Sunday 00:00 UTC

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

concurrency:
  group: openEuler-for-csb-weekly
  cancel-in-progress: false

jobs:
  #
  # Build the image once, reuse it in all later jobs
  #

  build-image:
    name: openeuler-csb image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: docker/setup-buildx-action@v3

      - name: Log in to github
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/openeuler_for_csb
          tags: |
            type=sha,format=short
            type=raw,value=latest

      - name: Build and push openeuler-csb
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .github/workflows/docker/openeuler-for-csb.Dockerfile
          tags:  ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          platforms: linux/amd64
